{% extends 'catalog/base.html' %}
{% load custom %}
{% block content %}
<div class="container marketing">
    <!-- Three columns of text below the carousel -->
    {% if user.is_authenticated %}
    <div class="col-12 mb-5">
        <a class="p-2 btn btn-success"
           href="{% url 'catalog:create_product' %}">+Добавить товар</a>
    </div>
    {% endif %}
    <div class="row">
        {% for object in object_list %}
        {% if object.is_published %}
        <div class="col-lg-4">
            <img class="rounded-circle"
                 src="{% mediapath object.preview %}"
                 alt="Generic placeholder image"
                 width="140" height="140">
            <h2>{{ object.title | title }}</h2>
            <h4>{{ object.price }} руб.</h4>
            <p>{{ object.description | truncatechars:100 }}</p>

            {% if object.owner %}
                владелец - {{ object.owner }}
            {% else %}
            владелец - нет
                {% endif %}


            <div class="card-body">
                {% for version in object.version_set.all %}
                {% if version.is_current %}
                версия - {{ version.version_number }}
                {% endif %}
                {% endfor %}
            </div>

            <a class="p-2 btn btn-info"
               href="{% url 'catalog:product-detail' object.pk %}">Подробнее</a>
            {% if perms.catalog.delete_product %}
            <a class="p-2 btn btn-warning"
               href="{% url 'catalog:update_product' object.pk %}">Изменить</a>

            <a class="p-2 btn btn-danger"
               href="{% url 'catalog:delete_product' object.pk %}">Удалить</a>
            {% endif %}

        </div>
{% endif %}
        {% endfor %}
    </div><!-- /.row -->
</div><!-- /.container -->

{% endblock %}