{% extends 'catalog/base.html' %}
{% load custom %}
{% block content %}
<div class="container marketing">
    <!-- Three columns of text below the carousel -->
    {% if user.is_authenticated %}
    <div class="col-12 mb-5">
        <a class="p-2 btn btn-success"
               href="{% url 'catalog:create_product' %}">+Добавить товар</a>
        </div>
    {% endif %}
    <div class="row">
        {% for object in object_list %}
        <div class="col-lg-4">
            <img class="rounded-circle"
                 src="{% mediapath object.preview %}"
                 alt="Generic placeholder image"
                 width="140" height="140">
            <h2>{{ object.title | title }}</h2>
            <h4>{{ object.price }} руб.</h4>
            <p>{{ object.description | truncatechars:100 }}</p>

            <div class="card-body">
                    {% for version in object.version_set.all %}
                    {% if version.is_current %}
                    версия - {{ version.version_number }}
                    {% endif %}
                    {% endfor %}
                </div>

            <a class="p-2 btn btn-outline-primary"
               href="{% url 'catalog:product-detail' object.pk %}">Подробнее</a>
            {% if user.is_authenticated %}
            <a class="p-2 btn btn-outline-primary"
               href="{% url 'catalog:update_product' object.pk %}">Изменить</a>
            {% endif %}
        </div>
        {% endfor %}
    </div><!-- /.row -->
</div><!-- /.container -->

{% endblock %}